.directory
.brename_detail.txt
.Rhistory

names.dmp
nodes.dmp
merged.dmp
delnodes.dmp
taxid.map
ranks.txt

not-used

*.tsv.gz
taxonomy/*/*.tsv
gtdb-taxid-changelog.csv.gz
gtdb-taxdump.tar.gz
taxid.map.stats*
taxonkit


gtdb_species.txt
